@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

@-webkit-keyframes heartBurst {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

@keyframes heartBurst {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

@-webkit-keyframes transBackground-1 {
  0% {
    background-image: url("../img/bg-1.jpg"); }
  100% {
    background-image: url("../img/bg-2.jpg"); } }

@keyframes transBackground-1 {
  0% {
    background-image: url("../img/bg-1.jpg"); }
  100% {
    background-image: url("../img/bg-2.jpg"); } }

@-webkit-keyframes transBackground-2 {
  0% {
    background-image: url("../img/bg-2.jpg"); }
  100% {
    background-image: url("../img/bg-3.jpg"); } }

@keyframes transBackground-2 {
  0% {
    background-image: url("../img/bg-2.jpg"); }
  100% {
    background-image: url("../img/bg-3.jpg"); } }

@-webkit-keyframes transBackground-3 {
  0% {
    background-image: url("../img/bg-3.jpg"); }
  100% {
    background-image: url("../img/bg-4.jpg"); } }

@keyframes transBackground-3 {
  0% {
    background-image: url("../img/bg-3.jpg"); }
  100% {
    background-image: url("../img/bg-4.jpg"); } }

@-webkit-keyframes transBackground-4 {
  0% {
    background-image: url("../img/bg-4.jpg"); }
  100% {
    background-image: url("../img/bg-1.jpg"); } }

@keyframes transBackground-4 {
  0% {
    background-image: url("../img/bg-4.jpg"); }
  100% {
    background-image: url("../img/bg-1.jpg"); } }

.heartBurst:after {
  -webkit-animation: heartBurst steps(28) 0.8s 1 both;
          animation: heartBurst steps(28) 0.8s 1 both; }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown; }

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
          animation-name: bounceOutDown; }

.transBackground-1 {
  -webkit-animation-name: transBackground-1;
          animation-name: transBackground-1; }

.transBackground-2 {
  -webkit-animation-name: transBackground-2;
          animation-name: transBackground-2; }

.transBackground-3 {
  -webkit-animation-name: transBackground-3;
          animation-name: transBackground-3; }

.transBackground-4 {
  -webkit-animation-name: transBackground-4;
          animation-name: transBackground-4; }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
