.backend-wrap {
  background-color: rgba(132, 169, 155, 0.3);
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .backend-wrap .backend-search {
    -webkit-flex: 0 1 60px;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
    background-color: rgba(0, 40, 50, 0.9);
    padding: 5px 10%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .backend-wrap .backend-list {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 20px 80px 5px 80px; }

.list .item {
  background-color: #fff;
  padding: 5px 120px 5px 20px;
  border-radius: 5px;
  position: relative;
  margin: 10px 0; }
  .list .item > div:nth-last-child(2) {
    border-bottom: none; }
  .list .item .item-info, .list .item .item-profile, .list .item .item-status, .list .item .item-content {
    color: #AFAFAF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 15px 0;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border-bottom: 1px solid #DFDFDF; }
    .list .item .item-info > span, .list .item .item-profile > span, .list .item .item-status > span, .list .item .item-content > span {
      margin-right: 20px; }
      .list .item .item-info > span > img, .list .item .item-profile > span > img, .list .item .item-status > span > img, .list .item .item-content > span > img {
        height: 16px; }
      .list .item .item-info > span > b, .list .item .item-profile > span > b, .list .item .item-status > span > b, .list .item .item-content > span > b {
        margin-right: 10px;
        color: #3DBF91;
        display: inline-block; }
      .list .item .item-info > span > span, .list .item .item-profile > span > span, .list .item .item-status > span > span, .list .item .item-content > span > span {
        display: inline-block; }
  .list .item .item-ctrl {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    right: 0px;
    top: 0;
    height: 100%;
    width: 100px;
    margin: 0 10px; }
    .list .item .item-ctrl > a {
      margin: 10px 0; }

#backend-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #backend-search > label {
    font-size: 16px;
    color: #fff; }
  #backend-search .search-user, #backend-search .search-post, #backend-search .search-comment, #backend-search .search-topic {
    background-color: #fff;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    margin: 0 20px;
    padding: 5px 15px;
    border-radius: 5px; }
  #backend-search .search-submit {
    background-color: rgba(132, 169, 155, 0.3);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    width: 50px;
    text-align: center; }

.btn-forbid {
  padding: 8px 0;
  background-color: #8F942B;
  color: #fff;
  border-radius: 5px;
  text-align: center; }

.btn-delete {
  padding: 8px 0;
  background-color: #942B5A;
  color: #fff;
  border-radius: 5px;
  text-align: center; }
