.header {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  box-shadow: 0 0 5px #050505; }
  .header .backhome-btn {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    color: #f5f5f5; }
  .header .tofollowing-btn {
    color: #f5f5f5;
    font-size: 20px;
    margin: 10px 0; }
  .header .user-face {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 5px; }
    .header .user-face .userface-btn {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: url("../img/face-01.jpg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
  .header .header-face {
    width: 90px;
    height: 90px;
    margin: 20px 0 10px 0; }
  .header .header-name {
    margin: 10px; }
    .header .header-name > a {
      color: #f5f5f5;
      font-size: 24px; }
  .header .header-relation > a {
    color: #f5f5f5;
    font-size: 16px; }
  .header .header-recommend {
    margin: 20px 0; }
    .header .header-recommend > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .header-search {
    display: block; }
  .header .header-logout {
    margin: 20px 0; }
    .header .header-logout > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .header-backend {
    margin: 20px 0; }
    .header .header-backend > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .user-relation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 5px; }
    .header .user-relation .following {
      margin: 0 30px; }
    .header .user-relation .follower {
      margin: 0 30px; }
  .header > span {
    margin: 20px 20px; }

.header-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../img/bg-user.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
          filter: blur(5px); }

#form-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative; }
  #form-search > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #form-search > div > label {
      color: #fff;
      padding: 2px 10px;
      margin-top: 10px;
      display: inline-table; }
  #form-search > label {
    position: absolute;
    right: 5px;
    top: 38px;
    color: #16363e; }
  #form-search input {
    background-color: #fff;
    margin-top: 5px;
    padding: 5px 10px;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 3px; }
  #form-search #form-search--submit {
    visibility: hidden; }
