.main-home {
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  background-color: rgba(132, 169, 155, 0.3); }
  .main-home .main-home--posts {
    margin: 20px 0;
    padding: 30px;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    box-sizing: border-box; }

.posts-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .posts-list .posts-item {
    -webkit-flex: 1 0 320px;
        -ms-flex: 1 0 320px;
            flex: 1 0 320px;
    width: 640px;
    display: block;
    padding-left: 100px;
    margin: 20px 0;
    position: relative; }
    .posts-list .posts-item .posts-item--header {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 85px;
      height: 85px;
      background-color: #84a99b;
      background-image: url("../img/face-01.jpg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.13); }
    .posts-list .posts-item .posts-item--content {
      width: 100%;
      height: auto;
      background-color: #f5f6f8;
      border-radius: 5px;
      padding: 10px 0; }
    .posts-list .posts-item .posts-item--comments {
      position: relative;
      width: 60%;
      height: auto;
      margin-top: 10px;
      background-color: #f5f6f8; }

.comments-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 5px 10px;
  border-radius: 5px; }
  .comments-list .comments-add {
    display: block;
    margin-bottom: 20px; }
  .comments-list .comments-item {
    -webkit-flex: 1 0 30px;
        -ms-flex: 1 0 30px;
            flex: 1 0 30px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid rgba(132, 169, 155, 0.3);
    padding: 8px 0; }
    .comments-list .comments-item:last-child {
      border-bottom: none; }
    .comments-list .comments-item .comments-item--info {
      color: #a1a1a1;
      margin-bottom: 10px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .comments-list .comments-item .comments-item--user {
      display: inline-block; }
    .comments-list .comments-item .comments-item--created {
      display: inline-block; }
    .comments-list .comments-item .comments-item--content {
      display: block;
      padding-left: 50px;
      word-break: break-all;
      word-wrap: break-word;
      line-height: 1.2;
      text-align: justify; }

#form-post {
  position: relative;
  margin-left: 25px; }
  #form-post > label {
    display: block;
    margin-bottom: 10px; }
  #form-post > textarea {
    display: inline-block;
    width: 520px;
    height: 80px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.19); }
  #form-post > input {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: rgba(22, 54, 62, 0.65); }

#form-comment {
  display: block;
  width: 100%;
  height: 100%; }
  #form-comment > textarea {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 100%;
    margin-right: 2%;
    padding: 8px 5px;
    border-bottom: 2px solid rgba(229, 168, 109, 0.23);
    border-left: 2px solid rgba(229, 168, 109, 0.23); }
  #form-comment > input {
    display: inline-block;
    width: auto;
    height: 100%;
    background-color: #e5a86d;
    padding: 8px 12px;
    color: #f1f1f1;
    border-radius: 2px; }

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  overflow: hidden; }
  .card:hover:after {
    will-change: auto;
    right: 0px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.187255) 0px 5px 5px 0px, rgba(0, 0, 0, 0.187647) 0px -2px 5px 0px; }
  .card:after {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(-45deg, rgba(215, 227, 222, 0.9) 50%, #f5f6f8 50%);
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .card .card-user {
    -webkit-flex: 0 0 30px;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    display: block;
    line-height: 30px;
    padding: 0 30px;
    word-wrap: normal;
    white-space: nowrap;
    color: #a1a1a1; }
  .card .card-content {
    -webkit-flex: 1 0 80px;
        -ms-flex: 1 0 80px;
            flex: 1 0 80px;
    display: block;
    padding: 0 30px;
    margin: 10px 0;
    color: #444444; }
    .card .card-content > p {
      text-align: justify;
      vertical-align: baseline; }
  .card .card-more {
    -webkit-flex: 0 0 60px;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    display: block;
    padding: 0 30px; }
    .card .card-more .card-more--created {
      display: block;
      height: auto;
      margin: 5px 0;
      font-size: 15px;
      color: #a1a1a1;
      text-align: right; }
    .card .card-more .card-more--link {
      display: block;
      height: auto;
      margin-bottom: 5px;
      text-align: left; }
      .card .card-more .card-more--link > span {
        font-size: 22px;
        margin-right: 350px; }
        .card .card-more .card-more--link > span > i {
          color: #a1a1a1;
          margin: 0 8px; }
