html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  outline: none;
  resize: none;
  border: none;
  background: none; }

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown; }

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
          animation-name: bounceOutDown; }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.main-signin {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff; }
  .main-signin .main-part--left {
    -webkit-flex: 0 1 500px;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    padding: 0 20px;
    height: 200px; }
    .main-signin .main-part--left h1 {
      margin-bottom: 50px; }
    .main-signin .main-part--left p {
      font-size: 18px;
      line-height: 1.6; }
  .main-signin .main-part--right {
    -webkit-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    padding: 0 10px;
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-signin .main-part--right .form-signin--wrap {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-bottom: 10px;
      padding: 10px 20px; }
    .main-signin .main-part--right .form-signup--wrap {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 10px 20px; }

.form-wrap {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px; }
  .form-wrap p {
    font-size: 16px;
    padding: 8px 15px;
    margin: -5px -15px 5px;
    text-align: center;
    border-bottom: 1px solid rgba(178, 170, 150, 0.78); }
  .form-wrap form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px; }
    .form-wrap form .form-input {
      width: 175px;
      height: 25px;
      margin: 8px 0;
      position: relative; }
      .form-wrap form .form-input input {
        position: relative;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 100%; }
        .form-wrap form .form-input input:focus + label:before {
          top: -15px;
          font-size: 6px;
          color: #EDB1B1; }
        .form-wrap form .form-input input:focus + label:after {
          left: 0;
          width: 100%;
          will-change: auto; }
      .form-wrap form .form-input .selected:before {
        top: -15px;
        font-size: 6px;
        color: #EDB1B1; }
      .form-wrap form .form-input .selected:after {
        left: 0;
        width: 100%;
        will-change: auto; }
      .form-wrap form .form-input label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 100%;
        line-height: 25px; }
        .form-wrap form .form-input label:before {
          content: attr(value);
          position: absolute;
          left: 0;
          top: 0;
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        .form-wrap form .form-input label:after {
          content: '';
          background-color: #C70039;
          bottom: 0;
          height: 2px;
          left: 45%;
          position: absolute;
          width: 0;
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .form-wrap form .form-submit {
      height: 30px;
      min-width: 64px;
      position: relative;
      border-radius: 3px;
      overflow: hidden; }
      .form-wrap form .form-submit input {
        position: relative;
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        color: #757575;
        font-size: 14px;
        padding: 0 15px;
        cursor: pointer;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        .form-wrap form .form-submit input:hover {
          color: #000; }
        .form-wrap form .form-submit input:hover + label {
          background-color: rgba(206, 206, 206, 0.3); }
      .form-wrap form .form-submit label {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: initial;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }

.header {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  box-shadow: 0 0 5px #050505; }
  .header .backhome-btn {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    color: #f5f5f5; }
  .header .tofollowing-btn {
    color: #f5f5f5;
    font-size: 20px;
    margin: 10px 0; }
  .header .user-face {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 5px; }
    .header .user-face .userface-btn {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: url("../img/face-01.jpg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
  .header .header-face {
    width: 90px;
    height: 90px;
    margin: 20px 0 10px 0; }
  .header .header-name {
    margin: 10px; }
    .header .header-name > a {
      color: #f5f5f5;
      font-size: 24px; }
  .header .header-relation > a {
    color: #f5f5f5;
    font-size: 16px; }
  .header .header-recommend {
    margin: 20px 0; }
    .header .header-recommend > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .header-search {
    display: block; }
  .header .header-logout {
    margin: 20px 0; }
    .header .header-logout > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .header-backend {
    margin: 20px 0; }
    .header .header-backend > a {
      color: #f5f5f5;
      font-size: 16px; }
  .header .user-relation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 5px; }
    .header .user-relation .following {
      margin: 0 30px; }
    .header .user-relation .follower {
      margin: 0 30px; }
  .header > span {
    margin: 20px 20px; }

.header-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../img/bg-user.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
          filter: blur(5px); }

#form-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative; }
  #form-search > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #form-search > div > label {
      color: #fff;
      padding: 2px 10px;
      margin-top: 10px;
      display: inline-table; }
  #form-search > label {
    position: absolute;
    right: 5px;
    top: 38px;
    color: #16363e; }
  #form-search input {
    background-color: #fff;
    margin-top: 5px;
    padding: 5px 10px;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 3px; }
  #form-search #form-search--submit {
    visibility: hidden; }

.main-home {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  background-color: rgba(132, 169, 155, 0.3); }
  .main-home .main-home--posts {
    margin: 20px 0;
    padding: 30px;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    box-sizing: border-box; }

.posts-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .posts-list .posts-item {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 640px;
    display: block;
    padding-left: 100px;
    margin: 20px 0;
    position: relative; }
    .posts-list .posts-item .posts-item--header {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 85px;
      height: 85px;
      background-color: #84a99b;
      background-image: url("../img/face-01.jpg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.13); }
    .posts-list .posts-item .posts-item--content {
      width: 100%;
      height: auto;
      background-color: #f5f6f8;
      border-radius: 5px;
      padding: 10px 0; }
    .posts-list .posts-item .posts-item--comments {
      position: relative;
      width: 60%;
      height: auto;
      margin-top: 10px;
      background-color: #f5f6f8; }

.comments-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 5px 10px;
  border-radius: 5px; }
  .comments-list .comments-add {
    display: block;
    margin-bottom: 20px; }
  .comments-list .comments-item {
    -webkit-flex: 1 0 30px;
        -ms-flex: 1 0 30px;
            flex: 1 0 30px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid rgba(132, 169, 155, 0.3);
    padding: 8px 0; }
    .comments-list .comments-item:last-child {
      border-bottom: none; }
    .comments-list .comments-item .comments-item--info {
      color: #a1a1a1;
      margin-bottom: 10px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .comments-list .comments-item .comments-item--user {
      display: inline-block; }
    .comments-list .comments-item .comments-item--created {
      display: inline-block; }
    .comments-list .comments-item .comments-item--content {
      display: block;
      padding-left: 50px;
      word-break: break-all;
      word-wrap: break-word;
      line-height: 1.2;
      text-align: justify; }

#form-post {
  position: relative;
  margin-left: 25px;
  width: 540px; }
  #form-post > label {
    display: block;
    margin-bottom: 10px; }
  #form-post > textarea {
    display: inline-block;
    width: 520px;
    height: 80px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.19); }
  #form-post .alert-wrap {
    position: absolute;
    top: 60px;
    left: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.19);
    padding: 4px; }
    #form-post .alert-wrap .alert-topic-text {
      font-size: 12px;
      color: #575757; }
  #form-post .form-line {
    margin-top: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #form-post .form-line > #form-image--btn {
      color: #e5a896; }
    #form-post .form-line > #form-post--submit {
      display: inline-block;
      color: #fff;
      border-radius: 5px;
      padding: 8px 15px;
      background-color: rgba(22, 54, 62, 0.65);
      font-size: 14px; }
  #form-post .form-block {
    display: block;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
    border: 5px solid #e5a896;
    box-sizing: border-box;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px; }
    #form-post .form-block > input {
      display: none; }
    #form-post .form-block .image-upload--btn {
      display: inline-block;
      padding: 8px 12px;
      background-color: #c29343;
      color: #fff;
      font-size: 14px;
      border-radius: 3px; }
    #form-post .form-block > output {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      padding: 5px 5px; }
      #form-post .form-block > output > img {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        height: 120px;
        width: 120px;
        border: 1px solid #000;
        box-sizing: border-box;
        margin: 5px; }

#form-comment {
  display: block;
  width: 100%;
  height: 100%; }
  #form-comment > textarea {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 100%;
    margin-right: 2%;
    padding: 8px 5px;
    border-bottom: 2px solid rgba(229, 168, 109, 0.23);
    border-left: 2px solid rgba(229, 168, 109, 0.23); }
  #form-comment > input {
    display: inline-block;
    width: auto;
    height: 100%;
    background-color: #e5a86d;
    padding: 8px 12px;
    color: #f1f1f1;
    border-radius: 2px; }

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  overflow: hidden; }
  .card:hover:after {
    will-change: auto;
    right: 0px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.187255) 0px 5px 5px 0px, rgba(0, 0, 0, 0.187647) 0px -2px 5px 0px; }
  .card:after {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(-45deg, rgba(215, 227, 222, 0.9) 50%, #f5f6f8 50%);
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .card .card-user {
    -webkit-flex: 0 0 30px;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    display: block;
    line-height: 30px;
    padding: 0 30px;
    word-wrap: normal;
    white-space: nowrap;
    color: #a1a1a1; }
  .card .card-content {
    -webkit-flex: 1 0 60px;
        -ms-flex: 1 0 60px;
            flex: 1 0 60px;
    display: block;
    padding: 0 30px;
    margin: 10px 0;
    color: #444444; }
    .card .card-content > p {
      text-align: justify;
      vertical-align: baseline; }
      .card .card-content > p > span {
        color: #b48177; }
  .card .card-images {
    display: block;
    padding: 0 20px; }
    .card .card-images .images-preview {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 330px; }
      .card .card-images .images-preview > li > img {
        width: 100px;
        margin: 5px; }
  .card .card-more {
    -webkit-flex: 0 0 60px;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    display: block;
    padding: 0 30px; }
    .card .card-more .card-more--created {
      display: block;
      height: auto;
      margin: 5px 0;
      font-size: 15px;
      color: #a1a1a1;
      text-align: right; }
    .card .card-more .card-more--link {
      display: block;
      height: auto;
      margin-bottom: 5px;
      text-align: left; }
      .card .card-more .card-more--link > span {
        font-size: 22px;
        margin-right: 350px; }
        .card .card-more .card-more--link > span > i {
          color: #a1a1a1;
          margin: 0 8px; }

.info-list {
  margin: 20px 0;
  padding: 30px;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .info-list > p {
    display: block;
    position: relative;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px; }

#form-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #form-info .info-item {
    position: relative;
    -webkit-flex: 0 0 75px;
        -ms-flex: 0 0 75px;
            flex: 0 0 75px;
    width: 480px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.13); }
    #form-info .info-item > input, #form-info .info-item select {
      display: block; }
    #form-info .info-item > label {
      display: block;
      font-size: 14px;
      color: #757575; }
      #form-info .info-item > label[for="image-upload"] {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        padding: 10px 15px;
        border-radius: 3px;
        margin-top: 10px;
        background-color: #e5a86d; }
    #form-info .info-item > input, #form-info .info-item select {
      margin: 0 auto;
      border: 2px solid rgba(229, 168, 109, 0.45);
      border-radius: 5px;
      padding: 5px;
      width: 100%;
      margin-top: 10px;
      box-sizing: border-box; }
      #form-info .info-item > input[type="file"], #form-info .info-item select[type="file"] {
        display: none; }
    #form-info .info-item > img {
      position: absolute;
      height: 85%;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 7px; }
  #form-info input[type="submit"] {
    background-color: #e5a86d;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.13);
    color: #fff;
    padding: 8px 22px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-top: 18px; }

.main-userlist {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  background-color: rgba(132, 169, 155, 0.3); }
  .main-userlist .main-userlist--users {
    margin: 20px 0;
    padding: 30px;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    box-sizing: border-box; }

.users-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }
  .users-list .users-item {
    display: block;
    width: 320px;
    height: 140px;
    margin: 0 20px;
    padding: 10px 0 10px 85px;
    box-sizing: border-box;
    position: relative; }
    .users-list .users-item .users-item--header {
      position: absolute;
      display: block;
      left: 30px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: 8px solid #d7e3de;
      overflow: hidden; }
      .users-list .users-item .users-item--header > img {
        width: 100%;
        height: 100%; }
    .users-list .users-item .users-item--content {
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 5px;
      padding: 15px 5px 15px 40px;
      box-sizing: border-box; }
      .users-list .users-item .users-item--content > p {
        margin-top: 10px; }
        .users-list .users-item .users-item--content > p > span {
          margin-right: 10px; }

.backend-wrap {
  background-color: rgba(132, 169, 155, 0.3);
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .backend-wrap .backend-search {
    -webkit-flex: 0 1 60px;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
    background-color: rgba(0, 40, 50, 0.9);
    padding: 5px 10%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .backend-wrap .backend-list {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 20px 80px 5px 80px; }

.list .item {
  background-color: #fff;
  padding: 5px 120px 5px 20px;
  border-radius: 5px;
  position: relative;
  margin: 10px 0; }
  .list .item > div:nth-last-child(2) {
    border-bottom: none; }
  .list .item .item-info, .list .item .item-profile, .list .item .item-status, .list .item .item-content {
    color: #AFAFAF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 15px 0;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border-bottom: 1px solid #DFDFDF; }
    .list .item .item-info > span, .list .item .item-profile > span, .list .item .item-status > span, .list .item .item-content > span {
      margin-right: 20px; }
      .list .item .item-info > span > img, .list .item .item-profile > span > img, .list .item .item-status > span > img, .list .item .item-content > span > img {
        height: 16px; }
      .list .item .item-info > span > b, .list .item .item-profile > span > b, .list .item .item-status > span > b, .list .item .item-content > span > b {
        margin-right: 10px;
        color: #3DBF91;
        display: inline-block; }
      .list .item .item-info > span > span, .list .item .item-profile > span > span, .list .item .item-status > span > span, .list .item .item-content > span > span {
        display: inline-block; }
  .list .item .item-ctrl {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    right: 0px;
    top: 0;
    height: 100%;
    width: 100px;
    margin: 0 10px; }
    .list .item .item-ctrl > a {
      margin: 10px 0; }

#backend-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #backend-search > label {
    font-size: 16px;
    color: #fff; }
  #backend-search .search-user, #backend-search .search-post, #backend-search .search-comment, #backend-search .search-topic {
    background-color: #fff;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    margin: 0 20px;
    padding: 5px 15px;
    border-radius: 5px; }
  #backend-search .search-submit {
    background-color: rgba(132, 169, 155, 0.3);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    width: 50px;
    text-align: center; }

.btn-forbid {
  padding: 8px 0;
  background-color: #8F942B;
  color: #fff;
  border-radius: 5px;
  text-align: center; }

.btn-delete {
  padding: 8px 0;
  background-color: #942B5A;
  color: #fff;
  border-radius: 5px;
  text-align: center; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

::-webkit-scrollbar {
  background-color: rgba(132, 169, 155, 0.3); }

::-webkit-scrollbar-thumb {
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 40, 50, 0.65); }

header {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative; }
  header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 40, 50, 0.9);
    z-index: -1; }

main {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  height: 100%; }

.main {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
