html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  outline: none;
  resize: none; }

.main-signin {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff; }
  .main-signin .main-part--left {
    -webkit-flex: 0 1 500px;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    padding: 0 20px;
    height: 200px; }
    .main-signin .main-part--left h1 {
      margin-bottom: 50px; }
    .main-signin .main-part--left p {
      font-size: 18px;
      line-height: 1.6; }
  .main-signin .main-part--right {
    -webkit-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    padding: 0 10px;
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-signin .main-part--right .form-signin--wrap {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-bottom: 10px;
      padding: 10px 20px; }
    .main-signin .main-part--right .form-signup--wrap {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 10px 20px; }

.form-wrap {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px; }
  .form-wrap p {
    font-size: 16px;
    padding: 8px 15px;
    margin: -5px -15px 5px;
    text-align: center;
    border-bottom: 1px solid rgba(178, 170, 150, 0.78); }
  .form-wrap form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px; }
    .form-wrap form .form-input {
      width: 175px;
      height: 25px;
      margin: 8px 0;
      position: relative; }
      .form-wrap form .form-input input {
        position: relative;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 100%; }
        .form-wrap form .form-input input:focus + label:before {
          top: -15px;
          font-size: 6px;
          color: #EDB1B1; }
        .form-wrap form .form-input input:focus + label:after {
          left: 0;
          width: 100%;
          will-change: auto; }
      .form-wrap form .form-input .selected:before {
        top: -15px;
        font-size: 6px;
        color: #EDB1B1; }
      .form-wrap form .form-input .selected:after {
        left: 0;
        width: 100%;
        will-change: auto; }
      .form-wrap form .form-input label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 100%;
        line-height: 25px; }
        .form-wrap form .form-input label:before {
          content: attr(value);
          position: absolute;
          left: 0;
          top: 0;
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        .form-wrap form .form-input label:after {
          content: '';
          background-color: #C70039;
          bottom: 0;
          height: 2px;
          left: 45%;
          position: absolute;
          width: 0;
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .form-wrap form .form-submit {
      height: 30px;
      min-width: 64px;
      position: relative;
      border-radius: 3px;
      overflow: hidden; }
      .form-wrap form .form-submit input {
        position: relative;
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        color: #757575;
        font-size: 14px;
        padding: 0 15px;
        cursor: pointer;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        .form-wrap form .form-submit input:hover {
          color: #000; }
        .form-wrap form .form-submit input:hover + label {
          background-color: rgba(206, 206, 206, 0.3); }
      .form-wrap form .form-submit label {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: initial;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }

textarea {
  width: 480px;
  height: 63px; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

main {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.header {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #9BADBA;
  color: #E3E3E3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px; }
  .header > span {
    margin: 0 20px; }

.main {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
