<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		title MANK Weibo
		base(href='/')
		link(rel='stylesheet' href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/main.css')
	body(ng-app='blog')
		header
			div.header(ui-view='header')
		main
			div.main(ui-view='main')
		script(src='js/angular.js')
		script(src='js/angular-storage.js')
		script(src='js/angular-jwt.js')
		script(src='js/angular-ui-router.js')
		script(src='js/angular-resource.js')
		script(src='js/server.js')
		script(src='js/controller-user.js')
		script(src='js/controller-signin.js')
		script(src='js/controller-post.js')
		script(src='js/router.js')
		script(src='js/config.js')
