<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Blog
		base(href='/')
		link(rel='stylesheet' type='text/css' href='css/main.css')
	body(ng-app='blog')
		div(ui-view='header')
		div(ui-view='main')
		script(src='js/angular.js')
		script(src='js/angular-jwt.js')
		script(src='js/angular-ui-router.min.js')
		script(src='js/angular-resource.js')
		script(src='js/server.js')
		script(src='js/controller-user.js')
		script(src='js/controller-signin.js')
		script(src='js/controller-post.js')
		script(src='js/router.js')
