<a ui-sref="home" class="backhome-btn"><i class="fa fa-home fa-lg"></i></a>
<div class="user-face header-face"><a ui-sref="users({ id: $root.userId })" class="userface-btn"></a></div>
<div class="user-name header-name"><a ui-sref="users({ id: $root.userId })" class="username-btn">{{ user.username }}</a></div>
<div class="user-relation header-relation"><a ui-sref="following" class="following">关注 {{ user.followingCount }}</a><a ui-sref="follower" class="follower">粉丝 {{ user.followerCount }}</a></div><a href="javascript:;" ng-click="toFollowing()" ng-if="!$root.isUser" class="tofollowing-btn">{{ followStatus.text }}</a>
<div class="user-recommend header-recommend"><a ui-sref="allUsers">推荐用户</a></div>
<div class="user-logout header-logout"><a ui-sref="signout" ng-if="$root.userId">注销</a></div>