<a ui-sref="home({ getFollow: true })" ui-sref-opts="{reload: true, inherit: false}" class="backhome-btn"><i class="fa fa-home fa-lg"></i></a>
<div class="user-face header-face"><a ui-sref="user({ id: user._id })" class="userface-btn"></a></div>
<div class="user-name header-name"><a ui-sref="info({ id: user._id })" class="username-btn">{{ user.username }}</a></div>
<div class="user-relation header-relation"><a ui-sref="allUsers({getFollowing: true, userId: user._id})" ui-sref-opts="{reload: true, inherit: false}" class="following">关注 {{ user.followingCount }}</a><a ui-sref="allUsers({getFollowed: true, userId: user._id})" ui-sref-opts="{reload: true, inherit: false}" class="follower">粉丝 {{ user.followerCount }}</a></div>
<ul class="header-profile">
  <li class="profile-age"></li>
</ul><a href="javascript:;" ng-click="toFollowing()" ng-if="!auth.isAdmin" class="tofollowing-btn">{{ followStatus.text }}</a>
<div class="user-recommend header-recommend"><a ui-sref="allUsers({})" ui-sref-opts="{reload: true, inherit: false}">推荐用户</a></div>
<div class="header-search">
  <form id="form-search" ng-submit="goSearch()">
    <div>
      <label for="form-search--post" ng-click="isPost = true">微博</label>
      <label for="form-search--user" ng-click="isPost = false">用户</label>
    </div>
    <input id="form-search--post" type="text" ng-show="isPost" ng-model="search.post"/>
    <input id="form-search--user" type="text" ng-show="!isPost" ng-model="search.user"/>
    <label for="form-search--submit"><i class="fa fa-search fa-lg"></i></label>
    <input id="form-search--submit" type="submit"/>
  </form>
</div>
<div class="header-backend"><a ui-sref="backend">后台管理</a></div>
<div class="user-logout header-logout"><a ui-sref="signout" ng-if="$root.userId">注销</a></div>