
<div class="posts-item--header">
  <div class="posts-item--content card"><a ui-sref="user.home({ id: post.user.user_id })" class="card-user">{{ post.user.user_username }}</a>
    <div class="card-content">
      <p><span>{{post.topic}}</span>{{ post.content }}</p>
    </div>
    <div ng-if="post.images" class="card-images">
      <ul class="images-preview">
        <li ng-repeat="image in post.images" class="image-item"><img src="{{image}}"/></li>
      </ul>
    </div>
    <div class="card-more">
      <div class="card-more--created">{{ post.created }}</div>
      <div class="card-more--link"><span><i class="fa fa-heart-o"></i><i ng-click="showTheComment(post)" class="fa fa-comments-o"></i><i class="fa fa-external-link"></i></span>#热度 90</div>
    </div>
  </div>
</div>