
<form id="form-info" name="passwordForm" ng-submit="updateUserPassword()" ng-init="profile.password = '';" novalidate="novalidate">
  <div class="info-item item-password">
    <label for="info-input--nickname">新密码</label>
    <input id="info-input--nickname" type="password" ng-model="profile.password" placeholder="请输入你的密码" required="required" class="name-input"/>
  </div>
  <div class="info-item item-password">
    <label for="info-input--nickname">再次输入新密码</label>
    <input id="info-input--nickname" type="password" ng-model="profile.repassword" placeholder="请再次输入你的密码" required="required" class="name-input"/>
  </div>
  <input id="form-info--submit" type="submit" value="提交"/>
</form>