
<div whenscrolled="getNextPage(current)" class="main-home">
  <ul ng-controller="PostItemCtrl" class="main-home--posts posts-list">
    <form id="form-post" name="postForm" ng-submit="createNewPost(newPost)" ng-if="auth.isAdmin &amp;&amp; current == &quot;user&quot;">
      <label for="form-post--content">有什么新鲜事？</label>
      <textarea id="form-post--content" name="postContent" ng-model="newPost.content" ng-change="newPost.check()" ng-maxlength="140" required="required"></textarea>
      <div ng-show="newPost.check().isUseTopic" class="alert-wrap">
        <p class="alert-topic-text">想用什么话题呢？</p>
      </div>
      <div class="form-line"><a id="form-image--btn" href="javascript:;" ng-click="newPost.upload = !newPost.upload"><i class="fa fa-picture-o fa-2x"></i></a>
        <input id="form-post--submit" type="submit" value="发布"/>
      </div>
      <div ng-if="newPost.upload" class="form-block">
        <label for="image-upload" class="image-upload--btn">选取图片</label>
        <input id="image-upload" type="file" fileload="newPost.images" fileread="images" value="" multiple="multiple"/>
        <output id="upload-list"><img ng-repeat="image in images" src="{{image}}"/></output>
      </div>
    </form>
    <li ng-repeat="post in posts" class="posts-item">
      <div style="background-image: url({{ post.user.user_face }})" class="posts-item--header"></div>
      <div class="posts-item--content card"><a href="javascript:;" ui-sref="user({ id: post.user.user_id })" class="card-user">{{ post.user.user_nickname }}</a>
        <div class="card-content">
          <p><span><a href="javascript:;" ui-sref="home({ q_topic: post.topic, p: 1 })" ui-sref-opts="{reload: true, inherit: false}">{{post.topic}}</a></span>{{ post.content }}</p>
        </div>
        <div ng-if="post.images" class="card-images">
          <ul class="images-preview">
            <li ng-repeat="image in post.images" class="image-item"><img src="{{image}}"/></li>
          </ul>
        </div>
        <div class="card-more">
          <div class="card-more--created">{{ post.created }}</div>
          <div class="card-more--link"><span><a ng-click="addHot(post)" ng-class="{hoted: post.isHoted, heartBurst: post.hoted}" class="like-i"></a><i ng-click="showTheComment(post)" class="fa fa-comments-o"></i></span>#热度 {{ post.hotCount }}</div>
        </div>
      </div>
      <div ng-if="post.isShowComment" ng-controller="CommentItemCtrl" ng-init="fetchComments(post)" ng-class="{true: 'bounceInDown', false: 'bounceOutDown'}[post.readyShowComment]" class="posts-item--comments comments-list animated">
        <div class="comments-add">
          <form id="form-comment" name="commentForm" ng-submit="createComment(post)">
            <textarea id="form-comment--content" name="commentContent" ng-model="newComment.content" ng-maxlength="60" required="required"></textarea>
            <input id="form-comment--submit" type="submit"/>
          </form>
        </div>
        <div ng-repeat="comment in post.comments" class="comments-item">
          <div class="comments-item--info">
            <div class="comments-item--user">{{ comment.user.user_nickname }}</div>
            <div class="comments-item--created">{{ comment.created }}</div>
          </div>
          <div class="comments-item--content">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </li>
    <div ng-if="loading &amp;&amp; posts.length &gt; 10" class="main-home--navigation"><img src="../img/loading-spinning-bubbles.svg" width="54"/></div>
  </ul>
</div>