
<div class="main-home">
  <ul ng-controller="InfoCtrl" class="main-home--info info-list">
    <p>完善一下你的个人资料吧</p>
    <form id="form-info" name="infoForm" ng-submit="updateUserProfile()" novalidate="novalidate">
      <div class="info-item item-face">
        <label for="info-input--face">头像</label>
        <label for="image-upload">选择头像</label>
        <input id="image-upload" type="file" fileread="face" fileload="profile.profile.face" value="" required="required"/>
        <image ng-if="profile.profile.face[0] || face" src="{{face[0]}}" ng-src="{{profile.profile.face[0]}}"></image>
      </div>
      <div class="info-item item-name">
        <label for="info-input--nickname">昵称</label>
        <input id="info-input--nickname" type="string" ng-model="profile.profile.nickname" placeholder="请输入你的昵称" required="required" class="name-input"/>
      </div>
      <div class="info-item item-age">
        <label for="info-input--location">城市</label>
        <input id="info-input--location" type="string" ng-model="profile.profile.location" placeholder="请输入你所在的城市" required="required" class="age-input"/>
      </div>
      <div class="info-item item-dob">
        <label for="info-input--dob">生日</label>
        <input id="info-input--dob" type="date" ng-model="profile.profile.dob" ng-value="profile.profile.dob" placeholder="请输入你的生日" required="required" class="dob-input"/>
      </div>
      <div class="info-item item-sex">
        <label for="info-input--sex">性别</label>
        <select id="info-input--sex" ng-model="profile.profile.sex" class="sex-input">
          <option ng-selected="profile.profile.sex == 0" value="0">男</option>
          <option ng-selected="profile.profile.sex == 1" value="1">女</option>
        </select>
      </div>
      <div class="info-item item-highline">
        <label for="info-input--highline">签名</label>
        <input id="info-input--highline" type="string" ng-model="profile.profile.highline" placeholder="请输入你的签名" class="highline-input"/>
      </div>
      <input id="form-info--submit" type="submit" value="提交"/>
    </form>
  </ul>
</div>