
<div class="main-signin">
  <h1>Hei!This is signin page.</h1>
  <form id="form-signin" name="signinForm" ng-submit="signinValidate()">
    <label for="form-signin--username">用户名</label>
    <input id="form-signin--username" name="username" type="text" ng-model="signinAccount.username" required="required"/>
    <label for="form-signin--password">密码</label>
    <input id="form-signin--password" name="password" type="password" ng-model="signinAccount.password" required="required"/>
    <input id="form-signin--submit" type="submit"/>
  </form><span ng-show="signinForm.username.$error.required || signinForm.password.$error.required" class="alert-error">请填写完整!</span>
</div>